.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* make the .search 40% of page width and located in the center of page */
#search {
  width: 40%;
  margin: 0 auto;
}

.bg_container {
  position: relative;
  width: 100%;
  height: 30vh; /* This will make the container cover the full height of the viewport */
  overflow: hidden;
}

.bg_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1; /* To place the image behind the content */
}

.app_name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  color: white;
  font-family: 'DM Serif Display', serif;
  font-family: 'Josefin Sans', sans-serif;
}

.app_description{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: white;
  font-family: 'DM Serif Display', serif;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* Hover effect */
a:hover {
  color: #2980b9;
}

/* Visited links - Same style as default */
a:visited {
  color: #3498db;
}